:root {
    --color-primary: #5c6bc0;
    --color-primary-light: #5c6bc0;
    --color-primary-lightest: #D6EBEC;
    --color-secondary: #5c6bc0;
  }

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
		font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    color: #444;
    box-sizing: border-box;
   
    
}
.all {
    display: flex;
    flex-direction:row;
    height: 100%;
    width: 100%;
}


nav {
    background-color: var(--color-primary);
    color: #fff;
    width: 18%;
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    border-radius: 2rem 0 0 2rem;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}
nav::before {
    content: '';
    background-color: var(--color-primary);
    height: 100%;
    /* width: 5rem; */
    position: absolute;
    right: -5rem;
    top: 0;
}
.nav-items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.nav-item h1 {
    margin-left: 15px;
}
.nav-item:hover {
    color: var(--color-primary-lightest)
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-item svg {
    width: 3rem;
    height: 3rem;
}

.button button{
    font-size: 18px;
    padding: 10px;
    margin-top: 214px;
    width: 100%;
    border-radius: 15px;
    color:#5c6bc0;
    border-color: #5c6bc0;
    
}

.portrait {
    color: white;
    font-size: large;
   margin-top: 10px;
    margin-bottom: 5rem;
   
}
.portrait:hover {
    background-color: var(--color-primary-lightest);
}
.user h1{
    color: white;
}



.content {
    width: 100%;
    background-color: #fff;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    box-shadow: 0 0 5rem rgba(0,0,0,.4); */
    border-radius: 2rem;
    z-index: 5;
    padding: 4rem 6rem;
    text-align:right;
}

.content img {
    width: 20%;
    height: 25%;
    margin-bottom: 30px;
    margin-top: -15px;
   
}

section {
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: .8rem;
    border:1px solid #5c6bc0;
}

section > h2{
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 400;
    color: var(--color-primary);
}

.greeting {
    margin-bottom: 4rem;
    font-size: 1.4rem;
}


main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.grid-area-1 {
   

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.distance {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Change the number of columns to 5 */
    gap: 3rem;
}

.distance__section {
    position: relative;
}

.distance__section::after {
    content: '';
    height: 80%;
    width: 1.6rem;
    background-color: var(--color-primary-light);
    position: absolute;
    right: 0;
    top: 10%;
    border-radius: 1.2rem 0 0 1.2rem;
    box-shadow: inset .4rem .4rem 1rem rgba(0,0,0,.2);
}

.distance .distance__section > h2 {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    text-align:center;
}
.distance svg {
    height: 4rem;
    color: #616161(--color-primary);
    margin: 2rem auto;
    display:block;
}






/* 
@media (max-width: 1500px) {
    body {
        padding: 0;
    }
    nav, .content {
        border-radius: 0;
    }
}
@media (max-width: 1250px) {
    main {
        grid-template-columns: 1fr;
    }
    .grid-area-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .grid-area-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr auto;
        grid-column: 1 / 2; /* Adjusted to span only one column */
    /* }
    .grid-area-1-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .last-week {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .grid-area-3 {
        grid-template-rows: auto auto auto;
    }
    .challenges {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .personal-bests {
        grid-column: 1 / 3;
    }
}
@media (max-width: 750px) {
    .grid-area-2 {
        display: flex;
        flex-direction: column;
    }
    .grid-area-1-2 {
        display: flex;
        flex-direction: column;
    }
    .all {
        grid-template-columns: 1fr;
    }
    nav {
        display: none;
    }
    .content {
        padding: 2rem 1rem;
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
} */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
/* .container img {
    width: 50%;
    height: 50%;
    margin-top: 13px;
    margin-left: 24px;
} */

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
    margin-bottom: 10px;
}

.container h1{
  margin-bottom: 10px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #000080;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.container button:hover{
background-color: #0063B9;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.container form .row {
    width: 100%;
    position: relative;
}

.container form .row img {
    width: 15px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}


.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    /* background-color: #512da8; */
    height: 100%;
    background: #000080;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle img{
    width: 150px;
    margin-top: -22px;
    margin-bottom: 13px;
}


.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}