<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow">
  <link rel="icon" href="https://tejasloan.com/public/front/images/fav.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://tejasloan.com/public/front/images/fav.png" type="image/x-icon">
  <title>Salaryontime - ChangeLog</title>
</head>
<body>
<h1>phpMyAdmin - ChangeLog</h1>
<pre>{{ changelog|raw }}</pre>
</body>
</html>
